/* PT Sans */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

body {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.shadow-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  width: inherit;
  height: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color:#FFFFFF;
  background: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #615048;
}

.button:active,
.card__link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Header */

.main-header {
  z-index: 1;
  display: flex;
  margin-bottom: -6px;
  padding-right: 70px;
  padding-left: 70px;
}

.main-header__logo {
  margin-right: 44px;
}


.main-header__logo-img  {
  display: block;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.navigation__list,
.navigation__buttons-list,
.advantages__list,
.advantages__plus-list,
.footer__list,
.breadcrumbs,
.catalog__theme-list,
.catalog__card-list,
.catalog__pagination,
.card__stars-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__item:not(:last-child) {
  margin-right: 32px;
}

.navigation__link {
  display: block;
  padding: 19px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation__link_active {
  border-bottom: 2px solid #756257;
}

.navigation__buttons-list {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.navigation__buttons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.navigation__buttons-item:nth-child(1) {
  margin-right: 24px;
}

.navigation__buttons-item:nth-child(2) {
  margin-right: 32px;
}

.navigation__buttons-item:first-child .navigation__buttons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url("../images/header/header-search-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.navigation__buttons-item:nth-child(2) .navigation__buttons-link {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url("../images/header/header-favorites-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.navigation__favorites-amount {
  position: absolute;
  top: 11px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
}

.navigation__buttons-item:last-child {
  width: 160px;
  height: 36px;
  background: #756157;
  border-radius: 4px;
}

.navigation__buttons-button {
  font-weight: 700;
}

/* .navigation__buttons-link_flex {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.navigation__buttons-link {
  text-decoration: none;
}

.navigation__buttons-link-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
} */

/* index.html */
/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  min-height: 485px;
  padding: 51px;
  background-image: url("../images/hero-section/hero-divinder.svg"), url("../images/hero-section/hero-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 57px, 1200px 485px;
  background-position: center bottom, center top;
}

.hero__img-title-part-1 {
  margin: 0 auto;
  margin-bottom: 13px;
}

.hero__img-title-part-2 {
  margin: 0 auto;
  margin-bottom: 54px;
}

.hero__img-title-part-3 {
  margin: 0 auto;
  margin-bottom: 33px;
}

/* Welcome */

.welcome {
  padding: 68px 0 90px 0;
}

.welcome__title {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.welcome__text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Advantages */

.advantages__list,
.advantages__plus-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;

}

.advantages__list {
  margin-bottom: 62px;
}

.advantages__card-item,
.advantages__plus-item {
  display: flex;
  align-items: center;
  min-height: 385px;
}

.advantages__card-item:nth-child(1) {
  grid-column: 1 / 4;
}

.advantages__card-item:nth-child(5) {
  grid-column: 1 / 4;
}

.advantages__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
}

.advantages__img {
  display: block;
}

.advantages__card-title {
  width: 175px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__card-text {
  width: 235px;
  margin: 0 auto;
  text-align: center;
}

.advantages__card-text_color {
  color: #333333;
}

.advantages__card-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages__card-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages__card-item:first-child,
.advantages__card-item:last-child {
  color:#FFFFFF;
  background: #82B3D3;
}

.advantages__card-wrapper .advantages__card-title:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages__card-item:first-child .advantages__card-title:after,
.advantages__card-item:last-child .advantages__card-title:after {
  content: "";
  display: block;
  width: 60px;
  /* height: 2px;
  background-color: rgba(255, 255, 255, 0.3); */
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages__title {
  width: 505px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__text {
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages__plus-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages__plus-title {
  position: relative;
  margin-top: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__plus-item:nth-child(1) .advantages__plus-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;
  background-image: url("../images/advantages-section/advantages-home-icon.svg");
  background-repeat: no-repeat;
}

.advantages__plus-item:nth-child(2) .advantages__plus-title::before {
  content: "";
  display: block;
  width: 74px;
  height: 70px;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;
  background-image: url("../images/advantages-section/advantages-food-icon.svg");
  background-repeat: no-repeat;
}

.advantages__plus-item:nth-child(3) .advantages__plus-title::before {
  content: "";
  display: block;
  width: 64px;
  height: 76px;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;
  background-image: url("../images/advantages-section/advantages-gift-icon.svg");
  background-repeat: no-repeat;
}

.advantages__plus-text {
  width: 230px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/* Booking */

.booking {
  padding: 96px 0;
}

.booking__visual-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.booking__text {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.booking__button {
  display: block;
  width: 375px;
  margin-right: auto;
  margin-left: auto;
  min-height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Subscription */

.subscription {
  min-height: 415px;
  padding: 96px 0 104px 0;
  color: #000000;
  background-color: #FFFFFF;
}

.subscription_background {
  color: #FFFFFF;
  background-color: #8daab8;
  background-image: url("../images/subscription-section/subscription-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover 100%;
}

.subscription__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscription__text {
  width: 475px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 54px;
  margin-left: auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription__form {
  display: flex;
  justify-content: center;
}

.subscription__input {
  width: 452px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription__input_color {
  background: #F2F2F2;
}

.subscription__button {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color:#82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.subscription__button:hover,
.subscription__button:focus {
  background-color: #68A2CA;
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px 81px;
}

.footer__list {
  display: flex;
  margin-right: 14px;
}

.footer__item:not(:last-child) {
  margin-right: 26px;
}

.footer__item:nth-child(2) {
  margin-right: 28px;
}

.footer__link {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer-vk-icon {
  width: 25px;
  height: 14px;
}

.footer-telegram-icon {
  width: 19px;
  height: 16px;
}

.footer-youtube-icon {
  width: 23px;
  height: 18px;
}

/* .footer__link:hover {
  background-color: #68A2CA;
} */

/* fill="none" */

/* fill="#83B3D3" */
/* fill-rule="evenodd" */

.footer__link:hover path {
  fill: #68A2CA;
}

.footer__phone {
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-decoration: none;
}

.footer__phone:hover,
.footer__phone:focus {
  color: #756157;
}

.footer__phone:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer__logo {
  display: block;
  margin-top: 3px;
}

/* catalog.html */
/* Filter */

.filter {
  min-height: 411px;
  padding: 35px 70px 70px;
  background-image: url("../images/catalog/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#FFFFFF;
}

.filter__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs__item:first-child::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 10px;
  margin: 0 11px;
  background-image: url("../images/catalog/catalog-right-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs__link {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/catalog/catalog-breadcrumbs-home-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs__link-text {
  font-size: 16px;
  line-height: 21px;
}

.filter__form {
  display: flex;
}

.filter__group,
.filter__price-slider {
  padding: 0;
  border: none;
}

.filter__group-title,
.filter__price-slider-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter__group-control {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 23px;
}

.filter__group-control:last-child {
  margin-bottom: 0;
}

.filter__price-slider-input {
  width: 143px;
  border: none;
}

.filter__button-apply {
  width: 191px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color:#FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
}

.filter__button-reset {
  width: 191px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color:#FFFFFF;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

/* Catalog */

.catalog {
  padding-top: 50px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;
}

.catalog_visual-settings-wrapper,
.catalog_theme-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog_visual-settings-wrapper {
  margin-bottom: 40px;
}

.catalog_theme-wrapper {
  width: 522px;
}

.catalog__search-text {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog__sorting {
  width: 292px;
  color:#333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog__theme-list {
  display: flex;
}

/* .catalog__theme-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
} */

/* .catalog__theme-item:hover {
  border-color: #000000;
}

.catalog__theme-item:focus {
  border-color: #68A2CA;
} */

.catalog__theme-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog__theme-link_active {
  border-color: #000000;
}

.catalog__theme-link:hover {
  border-color: #000000;
}

.catalog__theme-link:focus {
  border-color: #68A2CA;
}

.catalog__theme-item:not(:last-child) {
  margin-right: 8px;
}

.catalog-tile-style-icon,
.catalog-full-screen-style-icon,
.catalog-list-style-icon {
  width: 16px;
  height: 14px;
}

.catalog__card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.catalog__card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  align-items: center;
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card__img-link {
  grid-column: 1 / -1;
  display: block;
  order: -1;
  min-width: 300px;
}

.card__img {
  display: block;
  object-fit: cover;
}

.card__title-link {
  grid-column: 1 / -1;
  text-decoration: none;
  color: #000000;
}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card__price {
  justify-self: end;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF;
  background: #756157;
  border-radius: 4px;
}

.card__button {
  width: 140px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
}

.card__button:hover,
.card__button:focus {
  background-color: #68A2CA;
}

.card__button_active {
  background: #7DB54F;
}

.card__button_active:hover,
.card__button_active:focus {
  background: #6C9E42;
}

.card__stars-list {
  display: flex;
}

.card__star {
  width: 18px;
  height: 17px;
  background-image: url("../images/catalog/catalog-hotel-star.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__star:not(:last-child) {
  margin-right: 6px;
}

.card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  min-height: 36px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color:#333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.catalog__pagination {
  display: flex;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination__link:hover:not(.pagination__link_others, .pagination__link_current),
.pagination__link:focus:not(.pagination__link_others, .pagination__link_current) {
  background-color: #68A2CA;
}

.pagination__link:active:not(.pagination__link_others, .pagination__link_current) {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination__link_current {
  color: #000000;
  background-color:#F2F2F2;
}

.pagination__link_others {
  color: #000000;
  background-color: #ffffff;
}
